@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Montserrat:wght@400;700&family=PT+Serif&family=Roboto&family=Rozha+One&family=Source+Serif+Pro&display=swap");
/* todo : @font-faceface */
@font-face {
  font-family: "segoe_print";
  src: url("../fonts/SegoePrint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Fonts */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

.header {
  background-color: #579c87;
  padding: 1rem 0;
  z-index: 10;
}
.header__link {
  text-decoration: none;
}
.header__title {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  text-align: center;
  color: #fdcb46;
}

main {
  margin-bottom: 5rem;
}

.menu {
  width: 75vw;
  height: 280px;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0px 0px 8px #ccc;
  text-align: center;
}
.menu__img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.menu__link {
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__link h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.menu__link div {
  margin: 0 auto;
  width: 60vw;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.menu__link:hover div {
  transform: scale(1.2);
  opacity: 0.6;
}
.menu__note {
  background-color: #fcdfdb;
  font-family: "segoe_print", sans-serif;
  color: #3c1218;
  text-transform: uppercase;
}
.menu__note .menu__link {
  color: #3c1218;
}
.menu__note h2 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  text-transform: initial;
}
.menu__chic {
  background-color: #fff5fe;
  font-family: "Rozha One", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__chic .menu__link {
  color: #c77412;
}
.menu__chic h2 {
  font-size: 1rem;
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #d8852e, #905bfd);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__delice {
  background-color: #f9f9f9;
  font-family: "segoe_print", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__delice .menu__link {
  color: #0887fb;
}
.menu__delice h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #0431df, #0887fb);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__palette {
  background-color: #fdfffd;
  font-family: "segoe_print", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__palette .menu__link {
  color: #72bf56;
}
.menu__palette h2 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
}

.flex {
  display: flex;
  flex-direction: column;
}

.soon {
  background-color: #579c87;
  height: 50px;
  width: 75vw;
  border-radius: 0.5rem;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon__text {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  color: #fdcb46;
}
.soon__dots {
  margin-left: 15px;
  height: 90%;
  display: flex;
  color: #fdcb46;
  font-size: 2rem;
}
.soon__dots div {
  width: 10px;
  opacity: 0;
}
.soon__dot1 {
  animation: soonAnim 1s 0s infinite;
}
.soon__dot2 {
  animation: soonAnim 1s 0.2s infinite;
}
.soon__dot3 {
  animation: soonAnim 1s 0.4s infinite;
}

@keyframes soonAnim {
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
.footer {
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  color: #fdcb46;
  text-decoration: none;
}
.footer__link:hover {
  animation: wiggle 0.3s infinite;
}

@keyframes wiggle {
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
}
/* pages */
.normalTitle {
  text-align: center;
  margin: 1rem 0;
}

.card {
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0px 0px 8px #ccc;
  font-family: "segoe_print", sans-serif;
  font-size: 1rem;
  color: #3c1218;
  text-align: center;
}
.card__note {
  background-color: #fcdfdb;
}
.card__note__title {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  font-size: 2rem;
}
.card__section {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__section__title {
  font-size: 1.3rem;
}
.card__section__title::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  height: 2px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  animation: underlineOut 0.5s ease-in-out forwards;
}
@keyframes underlineOut {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
.card__section__title__note1:hover::after {
  background-color: green;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__note2:hover::after {
  background-color: red;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__bar {
  width: 30vw;
}
.card__li {
  margin-bottom: 0.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__footer__img {
  width: 50px;
  height: 50px;
}
.card__footer h3 {
  font-family: "Devonshire", cursive;
  font-size: 1.2rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
