@charset "UTF-8";
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Montserrat:wght@400;700&family=PT+Serif&family=Roboto&family=Rozha+One&family=Source+Serif+Pro&display=swap");
@font-face {
  font-family: "segoe_print";
  src: url("../fonts/SegoePrint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Fonts */
/* Media queries */
/* Mixins */
/* Animations */
/* Media queries */
/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

main {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    max-width: 800px;
  }
}

/* Soon */
.soon {
  background-color: #579c87;
  height: 50px;
  width: 75vw;
  border-radius: 0.5rem;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .soon {
    width: 50%;
  }
}
.soon__text {
  font-family: "montserrat", sans-serif;
  font-size: 1.3rem;
  color: #fdcb46;
}
.soon__dots {
  margin-left: 15px;
  height: 90%;
  display: flex;
  color: #fdcb46;
  font-size: 2rem;
}
.soon__dots div {
  width: 10px;
  opacity: 0;
}
.soon__dot1 {
  animation: soon 1s 0s infinite;
}
@keyframes soon {
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
.soon__dot2 {
  animation: soon 1s 0.2s infinite;
}
@keyframes soon {
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
.soon__dot3 {
  animation: soon 1s 0.4s infinite;
}
@keyframes soon {
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

/* Header */
.header {
  background-color: #579c87;
  padding: 1rem 0;
  z-index: 10;
}
.header__link {
  text-decoration: none;
}
.header__title {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  text-align: center;
  color: #fdcb46;
}

/* Footer */
.footer {
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  color: #fdcb46;
  text-decoration: none;
}
.footer__link:hover {
  animation: wiggle 0.3s infinite;
}
@keyframes wiggle {
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
}

/* Accueil */
.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu {
  width: 75vw;
  height: 280px;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0px 0px 8px #ccc;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 250px;
  }
}
.menu__img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.menu__link {
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__link h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.menu__link div {
  margin: 0 auto;
  width: 60vw;
  transform: scale(1);
  transition: all 0.4s;
}
@media screen and (min-width: 768px) {
  .menu__link div {
    width: 80%;
  }
}
.menu__link:hover div {
  transform: scale(1.2);
  opacity: 0.6;
}
.menu__note {
  background-color: #fcdfdb;
  font-family: "segoe_print", sans-serif;
  color: #3c1218;
  text-transform: uppercase;
}
.menu__note .menu__link {
  color: #3c1218;
}
.menu__note h2 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  text-transform: initial;
}
.menu__chic {
  background-color: #fff5fe;
  font-family: "Rozha One", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__chic .menu__link {
  color: #c77412;
}
.menu__chic h2 {
  font-size: 1rem;
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #d8852e, #905bfd);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__delice {
  background-color: #f9f9f9;
  font-family: "segoe_print", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__delice .menu__link {
  color: #0887fb;
}
.menu__delice h2 {
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  background: linear-gradient(to right, #0228dd, #229df9);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__palette {
  background-color: #fdfffd;
  font-family: "segoe_print", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__palette .menu__link {
  color: #72bf56;
}
.menu__palette h2 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
}

/* Page menu */
.normalTitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 1rem 0;
}

.card {
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0px 0px 8px #ccc;
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .card {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 80%;
    max-width: 600px;
    padding: 4rem;
  }
}
.card h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .card h2 {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }
}
.card ul {
  margin-bottom: 3rem;
}
.card__note {
  background-color: #fcdfdb;
  font-family: "segoe_print", sans-serif;
  color: #3c1218;
}
.card__note__title {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  font-size: 2rem;
}
.card__chic {
  background-color: #fff5fe;
  font-family: "PT Serif", serif;
}
.card__chic__title {
  font-family: "Croissant One", cursive;
  font-weight: lighter;
  background: linear-gradient(to right, #d8852e, #905bfd);
  -webkit-background-clip: text;
  color: transparent;
}
.card__delice {
  background-color: #f9f9f9;
  font-family: "segoe_print", sans-serif;
}
.card__delice__title {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: lighter;
  background: linear-gradient(to right, #0228dd, #229df9);
  -webkit-background-clip: text;
  color: transparent;
}
.card__delice h3 {
  font-size: 1.1rem;
}
.card__palette {
  background-color: #fdfffd;
  font-family: "segoe_print", sans-serif;
}
.card__palette__title {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  background: linear-gradient(to right, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
}
.card__palette h3 {
  font-size: 1.1rem;
}
.card__section {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .card__section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card__section__title {
  font-size: 1.3rem;
}
.card__section__title::after {
  content: "";
  display: block;
  position: relative;
  top: -4px;
  height: 2px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  animation: underlineOut 0.5s ease-in-out forwards;
}
@keyframes underlineOut {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
.card__section__title__note:hover::after {
  background-color: #3c1218;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__chic1:hover::after {
  background-color: #c77412;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__chic2:hover::after {
  background-color: #a56799;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__chic3:hover::after {
  background-color: #6e4ccc;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__delice1:hover::after {
  background-color: #0228dd;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__delice2:hover::after {
  background-color: #0670f3;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__delice3:hover::after {
  background-color: #229df9;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__title__palette:hover::after {
  background-color: #72bf56;
  animation: underline 0.5s ease-in-out forwards;
}
@keyframes underline {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.card__section__chic {
  font-family: "Source Serif Pro", serif;
  font-size: 1.2rem;
}
.card__section__chic1 h3, .card__section__chic1 + ul {
  color: #c77412;
}
.card__section__chic2 h3, .card__section__chic2 + ul {
  color: #a56799;
}
.card__section__chic3 h3, .card__section__chic3 + ul {
  color: #6e4ccc;
}
.card__section__bar {
  width: 30vw;
}
@media screen and (min-width: 500px) {
  .card__section__bar {
    width: 30%;
    max-width: 200px;
  }
}
.card__section__bar--left {
  transform: rotateX(180deg);
}
@media screen and (min-width: 500px) {
  .card__section__bar--left {
    transform: none;
  }
}
.card__li {
  margin-bottom: 0.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card__li {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
  }
}
.card__li p:nth-child(2) {
  font-weight: bold;
}
.card__li__chic p:nth-child(2) {
  font-weight: normal;
}
.card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .card__footer {
    flex-direction: row;
  }
}
.card__footer__img {
  width: 50px;
  height: 50px;
}
.card__footer h3 {
  font-family: "Devonshire", cursive;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .card__footer h3 {
    font-size: 1.8rem;
  }
}

/* Mentions légales */
.mentions {
  background-color: #4d8976;
  margin: 1rem auto;
  padding: 1rem;
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ccc;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mentions {
    width: 600px;
    margin-top: 4rem;
  }
}
.mentions h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  color: #fdcb46;
  margin-bottom: 1rem;
}
.mentions p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
