/* Mentions légales */
.mentions{
    background-color: $mentions-bg-color;
    margin: 1rem auto;
    padding: 1rem;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ccc;
    text-align: center;

    @include middleScreen{
        width: 600px;
        margin-top: 4rem;
    }

    h2{
        font-family: $header-footer-font;
        font-size:1.2rem;
        color: $main-txt-color;
        margin-bottom: 1rem;
    }
    p{
        font-family: $normal-font;
        font-size:0.8rem;
        margin-bottom: 1rem;
    }
}