*{
    margin:0;
    padding:0;
}
body{
    font-size: 62.5%;
}

.header{
    background-color: $main-bg-color;
    padding:1rem 0;
    &__link{
        text-decoration: none;
    }
    &__title{
        font-family: $main-title-font;
        text-align: center;
        color: $main-txt-color;
    }
}