*{
    margin:0;
    padding:0;
}
body{
    font-size: 62.5%;
}

.header{
    background-color: $main-bg-color;
    padding: 1rem 0;
    z-index: 10;

    &__link{
        text-decoration: none;
    }
    &__title{
        font-family: $header-footer-font;
        font-size:2rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        text-align: center;
        color: $main-txt-color;
    }
}

main{
    margin-bottom:5rem;
}

.menu{
    width:75vw;
    height:280px;

    margin: 0 auto;
    margin-top:2rem;
    box-shadow: 0px 0px 8px #ccc;
    text-align:center;


    &__img{
        width:50px;
        height:50px;
        margin:0 auto;
    }



    &__link{
        height:100%;
        text-decoration: none;
        font-size:1.5rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        
        h2{
            font-size:1.4rem;
            margin-bottom:1rem;
        }
        div{
            margin:0 auto;
            width:60vw;

            transform: scale(1);
            transition: transform 0.4s ease-in-out;
        }

        &:hover div{
            transform: scale(1.2);
            opacity:0.6;
        }
    }
    
    &__note{
        background-color: $note-bg-color;
        font-family: $card-font;
        
        color: $note-txt-color;
        text-transform: uppercase;
    
        .menu__link{
            color: $note-txt-color;
        }

        h2{
            font-family: $note-title-font;
            font-weight:500;
            text-transform: initial;
        }
        
    }
    &__chic{
        background-color: $chic-bg-color;
        font-family: $chic-menu-font;
        
        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$chic-txt-color;
        }

        h2{
            font-size:1rem;
            font-family: $chic-title-font;
            background: linear-gradient(to right,#d8852e,#905bfd);
            -webkit-background-clip:text;
            color:transparent;
        }
        

    }
    &__delice{
        background-color: $delice-bg-color;
        font-family: $card-font;

        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$delice-txt-color;
        }

        h2{
            font-family: $delice-title-font;
            background: linear-gradient(to right,#0431df,#0887fb);
            -webkit-background-clip:text;
            color:transparent;
        }

    }
    &__palette{
        background-color: $palette-bg-color;
        font-family: $card-font;

        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$palette-txt-color;
        }
        
        h2{
            font-family: $palette-title-font;    
            background: linear-gradient(to right,#3d9339,#bfff7e);
            -webkit-background-clip:text;
            color:transparent;
        }

    }
}

.flex{
    display:flex;
    flex-direction: column;
}

.soon{
    background-color: $main-bg-color;
    height:50px;
    width:75vw;
    border-radius:0.5rem;
    margin: 1.5rem auto;

    display:flex;
    justify-content: center;
    align-items: center;


    &__text{
        font-family: $header-footer-font;
        font-size:1.5rem;
        color:$main-txt-color;
    }
    &__dots{
        margin-left: 15px;
        height:90%;
        display:flex;
        
        color:$main-txt-color;
        font-size:2rem;
        
        div{
            width:10px;
            opacity: 0;
        }
    }
    &__dot1{
        animation: soonAnim 1s 0s infinite;
    }
    &__dot2{
        animation: soonAnim 1s 0.2s infinite;
    }
    &__dot3{
        animation: soonAnim 1s 0.4s infinite;
    }
}



@keyframes soonAnim {
    
    50%{
        transform:scale(1.5);
        opacity: 1;
    }
}

.footer{
    background-color: $main-bg-color;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding: 1rem;
    
    z-index: 1;

    display:flex;
    justify-content: space-between;

    &__link{
        font-family: $header-footer-font;
        font-size:1rem;
        color: $main-txt-color;
        text-decoration: none;

        &:hover{
            animation: wiggle 0.3s infinite;
        }
    }
}

@keyframes wiggle {

    25%{
        transform: rotateZ(5deg);
    }
    75%{
        transform: rotateZ(-5deg);
    }
}



/* pages */
.normalTitle{
    text-align:center;
    margin: 1rem 0;
}

.card{
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0px 0px 8px #ccc;
    font-family: $card-font;
    font-size:1rem;
    color: $note-txt-color;
    text-align:center;

    &__note{
        background-color: $note-bg-color;
        &__title{
            font-family: $note-title-font;
            font-weight:500;
            font-size: 2rem;
        }
    }

    &__section{
        margin:1rem 0;
        display:flex;
        flex-direction: column;
        align-items: center;

        &__title{
            font-size: 1.3rem;
            
            &::after{
                content:"";
                display:block;
                position: relative;
                top:-5px;
                height:2px;
                
                transform-origin: left;
                transition: all 0.5s ease-in-out;
                @include underlineOutAnim;
            }
            
            &__note1:hover::after{
                @include underlineAnim(green);
            }
            &__note2:hover::after{
                @include underlineAnim(red);
            }
        }

        &__bar{
            width:30vw;
        }
    }

    &__li{
        margin-bottom: 0.8rem;
        list-style-type: none;
        display:flex;
        flex-direction: column;
    }

    &__footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img{
            width:50px;
            height:50px;
        }
        h3{
            font-family: $note-title-font;
            font-size:1.2rem;
            font-weight: 500;
        }
    }
}

