*{
    margin:0;
    padding:0;
}
body{
    font-size: 62.5%;
}

.header{
    background-color: $main-bg-color;
    padding: 1rem 0;
    z-index: 10;

    &__link{
        text-decoration: none;
    }
    &__title{
        font-family: $header-footer-font;
        font-size:2rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        text-align: center;
        color: $main-txt-color;
    }
}

main{
    margin-bottom:5rem;
    @include middleScreen{
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    @include largeScreen{
        max-width: 800px;
    }
}

.menu{
    width:75vw;
    height:280px;
    margin: 0 auto;
    margin-top:2rem;
    box-shadow: 0px 0px 8px #ccc;
    text-align:center;

    @include middleScreen {
        width: 250px;
    }

    &__img{
        width:50px;
        height:50px;
        margin:0 auto;
    }

    &__link{
        height:100%;
        text-decoration: none;
        font-size:1.5rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        
        h2{
            font-size:1.4rem;
            margin-bottom:1rem;
        }
        div{
            margin:0 auto;
            width:60vw;
            transform: scale(1);
            transition: all 0.4s;

            @include middleScreen{
                width:80%;
            }
        }
        &:hover div{
            transform: scale(1.2);
            opacity:0.6;
        }
    }
    
    &__note{
        background-color: $note-bg-color;
        font-family: $card-font;
        
        color: $note-txt-color;
        text-transform: uppercase;
    
        .menu__link{
            color: $note-txt-color;
        }

        h2{
            font-family: $note-title-font;
            font-weight:500;
            text-transform: initial;
        }
        
    }
    &__chic{
        background-color: $chic-bg-color;
        font-family: $chic-menu-font;
        
        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$chic-txt-color;
        }

        h2{
            font-size:1rem;
            font-family: $chic-title-font;
            @include colorGradient(#d8852e,#905bfd);
        }
    }
    &__delice{
        background-color: $delice-bg-color;
        font-family: $card-font;

        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$delice-txt-color;
        }

        h2{
            font-family: $delice-title-font;
            font-weight:lighter;
            @include colorGradient($delice-color1, $delice-color3);
        }
    }
    &__palette{
        background-color: $palette-bg-color;
        font-family: $card-font;

        display:flex;
        flex-direction:column;
        justify-content: center;

        .menu__link{
            color:$palette-txt-color;
        }
        
        h2{
            font-family: $palette-title-font;    
            @include colorGradient(#3d9339, #bfff7e)
        }
    }
}

.flex{
    display:flex;
    flex-direction: column;
    @include middleScreen{
        flex-direction: row;
        justify-content: space-around;
    }
}

.soon{
    background-color: $main-bg-color;
    height:50px;
    width:75vw;
    border-radius:0.5rem;
    margin: 1.5rem auto;

    display:flex;
    justify-content: center;
    align-items: center;

    @include middleScreen{
        width: 50%;
    }

    &__text{
        font-family: $header-footer-font;
        font-size:1.3rem;
        color:$main-txt-color;
    }
    &__dots{
        margin-left: 15px;
        height:90%;
        display:flex;
        
        color:$main-txt-color;
        font-size:2rem;
        
        div{
            width:10px;
            opacity: 0;
        }
    }
    &__dot1{
        @include soonAnim(0s);
    }
    &__dot2{
        @include soonAnim(0.2s);
    }
    &__dot3{
        @include soonAnim(0.4s);
    }
}

.footer{
    background-color: $main-bg-color;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding: 1rem;
    
    z-index: 1;

    display:flex;
    justify-content: space-between;

    &__link{
        font-family: $header-footer-font;
        font-size:1rem;
        color: $main-txt-color;
        text-decoration: none;

        &:hover{
            @include wiggleAnim;
        }
    }
}

/* pages */
.normalTitle{
    font-family: $normal-font;
    text-align:center;
    margin: 1rem 0;
}

.card{
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    padding-top:2rem;
    box-shadow: 0px 0px 8px #ccc;
    font-size:1rem;
    text-align:center;

    @include smallScreen{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include middleScreen{
        width: 80%;
        max-width: 600px;
        padding: 4rem;
    }

    h2{
        margin-bottom: 2rem;
        @include middleScreen{
            font-size: 2.8rem;
            margin-bottom: 3rem;
        }
    }

    &__note{
        background-color: $note-bg-color;
        font-family: $card-font;
        color: $note-txt-color;
        
        &__title{
            font-family: $note-title-font;
            font-weight:500;
            font-size: 2rem;
        }
    }

    &__chic{
        background-color: $chic-bg-color;
        font-family: $chic-txt-font;

        &__title{
            font-family: $chic-title-font;
            font-weight: lighter;
            @include colorGradient(#d8852e,#905bfd);
        }
    }
    &__delice{
        background-color: $delice-bg-color;
        font-family: $card-font;

        &__title{
            font-family: $delice-title-font;
            font-size:2rem;
            font-weight:lighter;
            @include colorGradient($delice-color1, $delice-color3);
        }

        h3{
            font-size:1.1rem;
        }
    }
    &__palette{
        background-color: $palette-bg-color;
        font-family: $card-font;
        &__title{
            font-family: $palette-title-font;
            font-size: 2rem;
            @include colorGradient(#3d9339, #bfff7e)
        }
        h3{
            font-size: 1.1rem;
        }
    }

    &__section{
        margin:1rem 0;
        display:flex;
        flex-direction: column;
        align-items: center;

        @include smallScreen{
            flex-direction: row;
            justify-content: space-between;
        }

        &__title{
            font-size: 1.3rem;

            &::after{
                content:"";
                display:block;
                position: relative;
                top:-4px;
                height:2px;
                
                transform-origin: left;
                transition: all 0.5s ease-in-out;
                @include underlineOutAnim;
            }
            
            &__note:hover::after{
                @include underlineAnim($note-txt-color);
            }
            &__chic1:hover::after{
                @include underlineAnim($chic-color1);
            }
            &__chic2:hover::after{
                @include underlineAnim($chic-color2);
            }
            &__chic3:hover::after{
                @include underlineAnim($chic-color3);
            }
            &__delice1:hover::after{
                @include underlineAnim($delice-color1);
            }
            &__delice2:hover::after{
                @include underlineAnim($delice-color2);
            }
            &__delice3:hover::after{
                @include underlineAnim($delice-color3);
            }
            &__palette:hover::after{
                @include underlineAnim($palette-txt-color);
            }
        }
        &__chic{
            font-family: $chic-cardtitle-font;
            font-size:1.2rem;
        }
        &__chic1 h3, &__chic1+ul{
            color: $chic-color1;
        }
        &__chic2 h3, &__chic2+ul{
            color: $chic-color2;
        }
        &__chic3 h3, &__chic3+ul{
            color: $chic-color3;
        }

        &__bar{
            width:30vw;

            @include smallScreen{
                width: 30%;
                max-width: 200px;
            }
            &--left{
                transform: rotateX(180deg);

                @include smallScreen{
                    transform: none;
                }
            }
        }
    }

    &__li{
        margin-bottom: 0.8rem;
        list-style-type: none;
        display:flex;
        flex-direction: column;

        @include middleScreen{
            flex-direction: row;
            justify-content: space-between;
            font-size:0.8rem;
        }

        p:nth-child(2){
            font-weight:bold;
        }
        &__chic p:nth-child(2){
            font-weight: normal;            
        }
    }

    &__footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include middleScreen{
            flex-direction: row;
        }

        &__img{
            width:50px;
            height:50px;
        }
        h3{
            font-family: $note-title-font;
            font-size:1.2rem;
            font-weight: 500;

            @include middleScreen{
                font-size:1.8rem;
            }
        }
    }
}
ul{
    margin-bottom:3rem;
}

/* Mentions légales */
.mentions{
    background-color: $mentions-bg-color;
    margin: 1rem auto;
    padding: 1rem;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ccc;
    text-align: center;

    @include middleScreen{
        width: 600px;
        margin-top: 4rem;
    }

    h2{
        font-family: $header-footer-font;
        font-size:1.2rem;
        color: $main-txt-color;
        margin-bottom: 1rem;
    }
    p{
        font-family: $normal-font;
        font-size:0.8rem;
        margin-bottom: 1rem;
    }
}