/* Footer */
.footer{
    background-color: $main-bg-color;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding: 1rem;
    
    z-index: 1;

    display:flex;
    justify-content: space-between;

    &__link{
        font-family: $header-footer-font;
        font-size:1rem;
        color: $main-txt-color;
        text-decoration: none;

        &:hover{
            @include wiggleAnim;
        }
    }
}
